@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --sans: 'Poppins', sans-serif;
  --heading: 'Poppins', sans-serif;

  font: 16px/1.5 var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--sans);
  background: #def4f6;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}

#root {
  width: 100%;
  min-height: 100svh;
}
